/* reset d'estils navegador per evitar inconsistències entre navegadors */
html { box-sizing: border-box; font-size: 16px; }
*, *:before, *:after { box-sizing: inherit; }
ul { display: block; list-style-type: none; margin-block-start: 0; margin-block-end: 0; margin-inline-start: 0; margin-inline-end: 0; padding-inline-start: 0; }
/* fi dels estils reset */

body {
    overflow: hidden;
    /* per evitar mostrar la barra de scroll */
    background: #e5e6e9;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* width i height del body ocupen tota la pantalla sencera */
}

#page {
    /* contenedor de tots els elements, l'utilitzo  per poder centrar tota la maquetació */
    width: 70vw;
    /* aquí defineixo l'amplada de tota la maqueta en relació a tota l'amplada de la pantalla */
    /* width: 100vw volem ocupar tota l'amplada  */
    height: 100vh;
    position: relative;
    margin: 0 auto;
}

/* apliquem un selector universal per donar un marge de separació a totes les capes interiors contigues a #page */
#page>* {
    margin: 1vh 0;
}

header {
    background: #4b4b4d;
    display: flex;
    height: 10vh;
    justify-content: space-between; /* primer item a l'inici i el segon/últim al final  */
    align-items: center;

}

#logo {
    background: #d2d3d4;
    width: 16vw;
    height: 5vh;
    margin: 1em;
}

#rrss {}

#rrss ul {
    display: flex;
    margin: 1em;
}

#rrss ul li {
    background: #d2d3d4;
    border-radius: 50px;
    /* amb tots els borders arrodinits formem el cercle */
    width: 3vw;
    height: 3vw;
    /* així ens assegurem que el cecle sempre sigui proporcional a l'amplada i a l'alçada */
    margin: 2px;
}

nav {}


nav ul {
    height: 6vh;
    display: flex;
    align-items: stretch;
}

nav ul li {
    background: #969799;
    width: 19.7vw;
    margin: 1px;
}

aside ul {

    height: 14vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

aside ul li {
    background: #858688;
    width: 33vw;
    margin: 0 2px;
}

main {
    background: #858688;
    height: 60vh;
    display: flex;
    justify-content: center;
}

article {
    background: #4b4b4d;
    width: 50vw;
    height: 100%;
}

footer {
    background: #4b4b4d;
    height: 10vh;
}
